NET clk50 LOC = "K3" | IOSTANDARD = LVCMOS33 | PERIOD = 50 MHz;

# DVI-D interface
NET tmds_out_p(0) LOC = "C7" | IOSTANDARD = TMDS_33 ; # Blue
NET tmds_out_n(0) LOC = "A7" | IOSTANDARD = TMDS_33 ;
NET tmds_out_p(1) LOC = "B6" | IOSTANDARD = TMDS_33 ; # Red
NET tmds_out_n(1) LOC = "A6" | IOSTANDARD = TMDS_33 ;
NET tmds_out_p(2) LOC = "B5" | IOSTANDARD = TMDS_33 ; # Green
NET tmds_out_n(2) LOC = "A5" | IOSTANDARD = TMDS_33 ;
NET tmds_out_p(3) LOC = "C9" | IOSTANDARD = TMDS_33 ; # Clock
NET tmds_out_n(3) LOC = "A9" | IOSTANDARD = TMDS_33 ;

#C11 B5
#A11 A5
#B12 B6
#A12 A6
#C13 C7
#A13 A7
#B14 C9

# DVI-D interface
#NET tmds_out_p(0) LOC = "C13" | IOSTANDARD = TMDS_33 ; # Blue
#NET tmds_out_n(0) LOC = "A13" | IOSTANDARD = TMDS_33 ;
#NET tmds_out_p(1) LOC = "B12" | IOSTANDARD = TMDS_33 ; # Red
#NET tmds_out_n(1) LOC = "A12" | IOSTANDARD = TMDS_33 ;
#NET tmds_out_p(2) LOC = "C11" | IOSTANDARD = TMDS_33 ; # Green
#NET tmds_out_n(2) LOC = "A11" | IOSTANDARD = TMDS_33 ;
#NET tmds_out_p(3) LOC = "B14" | IOSTANDARD = TMDS_33 ; # Clock
#NET tmds_out_n(3) LOC = "A14" | IOSTANDARD = TMDS_33 ;

NET leds(0) LOC = "P11" | IOSTANDARD=LVTTL;
NET leds(1) LOC = "N9"  | IOSTANDARD=LVTTL;
#NET leds(2) LOC = "M9"  | IOSTANDARD=LVTTL;
#NET leds(3) LOC = "P9"  | IOSTANDARD=LVTTL;

NET btns(0) LOC = "L1" | IOSTANDARD=LVTTL | PULLUP;
NET btns(1) LOC = "L3" | IOSTANDARD=LVTTL | PULLUP;
NET btns(2) LOC = "L4" | IOSTANDARD=LVTTL | PULLUP;
NET btns(3) LOC = "L5" | IOSTANDARD=LVTTL | PULLUP;