NET clk50 LOC = "K3" | IOSTANDARD = LVCMOS33 | PERIOD = 50 MHz;

# DVI-D interface
NET tmds_out_p(0) LOC = "C7" | IOSTANDARD = TMDS_33 ; # Blue
NET tmds_out_n(0) LOC = "A7" | IOSTANDARD = TMDS_33 ;
NET tmds_out_p(1) LOC = "B6" | IOSTANDARD = TMDS_33 ; # Red
NET tmds_out_n(1) LOC = "A6" | IOSTANDARD = TMDS_33 ;
NET tmds_out_p(2) LOC = "B5" | IOSTANDARD = TMDS_33 ; # Green
NET tmds_out_n(2) LOC = "A5" | IOSTANDARD = TMDS_33 ;
NET tmds_out_p(3) LOC = "C9" | IOSTANDARD = TMDS_33 ; # Clock
NET tmds_out_n(3) LOC = "A9" | IOSTANDARD = TMDS_33 ;

#C11 B5
#A11 A5
#B12 B6
#A12 A6
#C13 C7
#A13 A7
#B14 C9

# DVI-D interface
#NET tmds_out_p(0) LOC = "C13" | IOSTANDARD = TMDS_33 ; # Blue
#NET tmds_out_n(0) LOC = "A13" | IOSTANDARD = TMDS_33 ;
#NET tmds_out_p(1) LOC = "B12" | IOSTANDARD = TMDS_33 ; # Red
#NET tmds_out_n(1) LOC = "A12" | IOSTANDARD = TMDS_33 ;
#NET tmds_out_p(2) LOC = "C11" | IOSTANDARD = TMDS_33 ; # Green
#NET tmds_out_n(2) LOC = "A11" | IOSTANDARD = TMDS_33 ;
#NET tmds_out_p(3) LOC = "B14" | IOSTANDARD = TMDS_33 ; # Clock
#NET tmds_out_n(3) LOC = "A14" | IOSTANDARD = TMDS_33 ;

NET leds(0) LOC = "P11" | IOSTANDARD=LVTTL;
NET leds(1) LOC = "N9"  | IOSTANDARD=LVTTL;
#NET leds(2) LOC = "M9"  | IOSTANDARD=LVTTL;
#NET leds(3) LOC = "P9"  | IOSTANDARD=LVTTL;

NET btns(0) LOC = "L1" | IOSTANDARD=LVTTL | PULLUP;
NET btns(1) LOC = "L3" | IOSTANDARD=LVTTL | PULLUP;
NET btns(2) LOC = "L4" | IOSTANDARD=LVTTL | PULLUP;
NET btns(3) LOC = "L5" | IOSTANDARD=LVTTL | PULLUP;

NET "MT9D111_D<0>"  LOC = "E7"  | IOSTANDARD=LVTTL | SLEW=SLOW; # A0
NET "MT9D111_D<1>"  LOC = "C8"  | IOSTANDARD=LVTTL | SLEW=SLOW; # A1
NET "MT9D111_D<2>"  LOC = "D8"  | IOSTANDARD=LVTTL | SLEW=SLOW; # A2
NET "MT9D111_D<3>"  LOC = "E8"  | IOSTANDARD=LVTTL | SLEW=SLOW; # A3
NET "MT9D111_D<4>"  LOC = "D9"  | IOSTANDARD=LVTTL | SLEW=SLOW; # A4
NET "MT9D111_D<5>"  LOC = "A10" | IOSTANDARD=LVTTL | SLEW=SLOW; # A5
NET "MT9D111_D<6>"  LOC = "B10" | IOSTANDARD=LVTTL | SLEW=SLOW; # A6
NET "MT9D111_D<7>"  LOC = "C10" | IOSTANDARD=LVTTL | SLEW=SLOW; # A7
NET "MT9D111_XCLK"  LOC = "E10" | IOSTANDARD=LVTTL | SLEW=SLOW; # A8
NET "MT9D111_PCLK"  LOC = "F9"  | IOSTANDARD=LVTTL | SLEW=SLOW; # A9
NET "MT9D111_HREF"  LOC = "F10" | IOSTANDARD=LVTTL | SLEW=SLOW; # A10
NET "MT9D111_VSYNC" LOC = "D11" | IOSTANDARD=LVTTL | SLEW=SLOW; # A11
NET "MT9D111_SDA"   LOC = "E11" | IOSTANDARD=LVTTL | SLEW=SLOW; # B0
NET "MT9D111_SCL"   LOC = "D14" | IOSTANDARD=LVTTL | SLEW=SLOW; # B1

#NET "OV7670_PWDN"  LOC = "L15" | IOSTANDARD=LVTTL | SLEW=SLOW; # JA0
#NET "OV7670_RESET" LOC = "K13" | IOSTANDARD=LVTTL | SLEW=SLOW; # JA4
#NET "OV7670_D<0>"  LOC = "K12" | IOSTANDARD=LVTTL | SLEW=SLOW; # JA1
#NET "OV7670_D<1>"  LOC = "L16" | IOSTANDARD=LVTTL | SLEW=SLOW; # JA5
#NET "OV7670_D<2>"  LOC = "L17" | IOSTANDARD=LVTTL | SLEW=SLOW; # JA2
#NET "OV7670_D<3>"  LOC = "M14" | IOSTANDARD=LVTTL | SLEW=SLOW; # JA6
#NET "OV7670_D<4>"  LOC = "M15" | IOSTANDARD=LVTTL | SLEW=SLOW; # JA3
#NET "OV7670_D<5>"  LOC = "M16" | IOSTANDARD=LVTTL | SLEW=SLOW; # JA7
#NET "OV7670_D<6>"  LOC = "M13" | IOSTANDARD=LVTTL | SLEW=SLOW; # JB0
#NET "OV7670_D<7>"  LOC = "P17" | IOSTANDARD=LVTTL | SLEW=SLOW; # JB4
#NET "OV7670_XCLK"  LOC = "R18" | IOSTANDARD=LVTTL | SLEW=SLOW; # JB1
#NET "OV7670_PCLK"  LOC = "R16" | IOSTANDARD=LVTTL | SLEW=SLOW; # JB5
#NET "OV7670_HREF"  LOC = "R15" | IOSTANDARD=LVTTL | SLEW=SLOW; # JB2
#NET "OV7670_VSYNC" LOC = "T18" | IOSTANDARD=LVTTL | SLEW=SLOW; # JB6
#NET "OV7670_SIOD"  LOC = "T17" | IOSTANDARD=LVTTL | SLEW=SLOW | PULLUP; # JB3
#NET "OV7670_SIOC"  LOC = "U18" | IOSTANDARD=LVTTL | SLEW=SLOW; # JB7
#NET "OV7670_PCLK" CLOCK_DEDICATED_ROUTE = FALSE;